@{
    ViewBag.Title = "About Group 4";
}
<h2>@ViewBag.Title.</h2>



<body>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="custom-column">
                    <div class="custom-column-header">The Visionary</div>
                    <div class="card" >
                        <img class="card-img-top" src="~/img/madye.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Madye</h4>
                            <p class="card-text">
                                Madye is a Microsoft Cloud Sales Specialist at Tech Data. Her role is assisting partners<br>
                                with navigating a wide range of security and productivity products as well as onboarding<br>
                                new partners.
                            </p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
            </div> <div class="col-sm-12 col-md-4">
                <div class="custom-column">
                    <div class="custom-column-header">The Coder</div>
                    <div class="card">
                        <img class="card-img-top" src="~/img/rishinaj.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Rishiraj</h4>
                            <p class="card-body" style="text-align: left">
                                Raj is the Director of Integrations and ERP at Hit Promotional Products. <br>
                                He has experience in software architecture and a demonstrated history of working in the<br>
                                marketing and advertising industry.
                            </p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="custom-column">
                    <div class="custom-column-header">The Project Manager</div>
                    <div class="card" >
                        <img class="card-img-top" src="~/img/anwut.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Anwut </h4>
                            <p class="card-text">
                                Anwut Wasupan is a Data Analyst at Zelis Payments. His responsibilities involve support<br>
                                business department providing solutions through data analytics. He earned a bachelor’s degree <br>
                                in management information system from the University of South Florida.
                            </p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
