@{
    ViewBag.Title = "About Group 4";
}
<h2>@ViewBag.Title.</h2>



<body>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="custom-column">
                    <div class="custom-column-header">The Visionary</div>
                    <div class="card" >
                        <img class="card-img-top" src="~/img/madye.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Madye</h4>
                            <p class="card-text">
                                Madye is a Microsoft Cloud Sales Specialist at Tech Data.<br />
                                Her role is assisting partners with navigating a wide range <br />
                                of security and productivity products as well as <br />
                                onboarding new partners.
                                

                            </p>
                            
                        </div>
                    </div>
                </div>
            </div> <div class="col-sm-12 col-md-4">
                <div class="custom-column">
                    <div class="custom-column-header">The Coder</div>
                    <div class="card">
                        <img class="card-img-top" src="~/img/rishinaj.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Rishiraj</h4>
                            <p class="card-body" style="text-align: left">
                                Raj is the Director of Integrations and ERP at Hit <br />
                                Promotional Products. He has experience in software <br/>
                                architecture and a demonstrated history  of working <br />
                                in the marketing and advertising industry.
                                <br />

                            </p>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="custom-column">
                    <div class="custom-column-header">The Project Manager</div>
                    <div class="card" >
                        <img class="card-img-top" src="~/img/anwut.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Anwut </h4>
                            <p class="card-text">
                                Anwut Wasupan is a Data Analyst at Zelis Payments. His <br />
                                responsibilities involve support business department
                                providing solutions through data analytics.  He earned <br />
                                a Bachelor’s degree in Management Information System<br />
                                from the University of South Florida. <br />
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
