@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GROUP FINDER</h1>
    <p class="lead">How does it work? <br />
    Tell us a bit about yourself so we can reveal which classmates you are most similar to!<br />
    </p>
    <p><a href='@Url.Action("login", "App", null, Request.Url.Scheme)' class="btn btn-primary btn-lg"> Take the Quiz! &raquo;</a></p>
</div>


