
@{
    ViewBag.Title = "thankyou";
}

<div class="jumbotron text-xs-center">
<h1 class="display-3">Thank You!</h1>
<p class="lead"><strong>Please check back as we will need to calculate the potential matches as an on-demand process. We will email with updates.</strong></p>
<hr>

</div>
